@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900 font-sans antialiased selection:bg-black selection:text-white;
}

/* Enhancing readability */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tight font-bold;
}

p {
  @apply leading-relaxed text-muted;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}